@import "tailwindcss";
@source "../../../**/*.{html,py,js}";


/* Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #141522;
}

::-webkit-scrollbar-track {
  background-color: #000000a6;
}

::-webkit-scrollbar-thumb {
  background-color: #380046f1; /* translucent neon pink */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b9bdf727; /* hover state */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff15 #141522;
}



body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
th {
  @apply bg-amber-500/10
}

table, th, td {
  @apply border border-gray-400  p-2 text-center 
}


.rightSection {
  border-left: 2px solid #c98a01;
}
table, th, td {
  font-family: monospace !important;
}
td {
  height: 50px;
  max-width: 100px;
  font-weight: 100 !important;
}

tbody tr:nth-child(odd) {
  @apply bg-amber-500/5
}
