<td class="bg-white/10">
    <input type="text" 
        name="routine_{{ day }}_{{ shift.id }}_subject" 
        placeholder=""
        class="h-full w-full text-white bg-white/10 placeholder-white border border-white/20 px-2 rounded-sm" />
</td>
<td class="bg-white/10">
    <input type="text" 
        name="routine_{{ day }}_{{ shift.id }}_room" 
        placeholder=""
        class="h-full w-full text-white bg-white/10 placeholder-white border border-white/20 px-2 rounded-sm" />
</td>
<td class="bg-white/10">
    <input type="text" 
        name="routine_{{ day }}_{{ shift.id }}_faculty" 
        placeholder=""
        class="h-full w-full text-white bg-white/10 placeholder-white border border-white/20 px-2 rounded-sm" />
</td>
